OCI_COMPARTMENT_ID=ocid1.tenancy.oc1..example
OCI_SUBNET_ID=ocid1.subnet.oc1.ap-chuncheon-1.example
OCI_IMAGE_ID=ocid1.image.oc1.ap-chuncheon-1.example
OCI_AVAILABILITY_DOMAIN=FGUx:AP-CHUNCHEON-1-AD-1
OCI_SSH_PUBLIC_KEY_FILE=/home/turtler800/.ssh/id_ed25519.pub

OCI_DISPLAY_NAME=my-free-instance
OCI_SHAPE=VM.Standard.A1.Flex
OCI_RETRY_PROFILES=2:12,1:6,4:24
OCI_RETRY_MAX_LAUNCHES_PER_RUN=1
OCI_RETRY_CAPACITY_REPORT_MODE=log
OCI_RETRY_COMMAND_TIMEOUT_SECONDS=120
OCI_RETRY_REMOTE_LOG=/home/turtler800/oci-vm-retry/oci-retry.log

OCI_SLACK_WEBHOOK_URL=
